In [5]:
# Regrouppement de fichier

## connexion Ã  postGresql
import pandas as pd 
import seaborn as sns
import warnings 
import os
import sqlalchemy
from matplotlib import pyplot as plt

from datetime import datetime

engine = sqlalchemy.create_engine("postgresql://stagiaire:Phoenix#Icar67@51.91.76.248:15432/cours")
connection = engine.connect()
print(f"connecting with engine {engine}")

warnings.filterwarnings(action="ignore")

sns.set(font_scale=3)

connecting with engine Engine(postgresql://stagiaire:***@51.91.76.248:15432/cours)

AttributeError: 'Connection' object has no attribute 'cursor'