<img src="https://raw.githubusercontent.com/rbizoi/PythonFormation/main/images/e-brasil.png" width="850">

https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

# Les imports et initialisations des variables

In [1]:
from datetime import datetime
import pandas as pd, numpy as np, os, warnings, seaborn as sns, pickle, re, unicodedata
from datetime import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

os.chdir("C:/Users/etien/Documents/CCI/_HUB/cours/2024-2025/big_data/_git/donnees")

font1 = fm.FontProperties(size=20)
font2 = fm.FontProperties(size=24)

%matplotlib inline

if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

## Liste fichiers de données

In [2]:
!dir ..\donnees\ebrasil

 Le volume dans le lecteur C s’appelle Windows-SSD
 Le numéro de série du volume est 84DC-AF7F

 Répertoire de C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees\ebrasil

20/11/2024  16:30    <DIR>          .
20/11/2024  15:02    <DIR>          ..
06/10/2019  21:27         9 033 957 olist_customers_dataset.csv
06/10/2019  21:27        61 273 883 olist_geolocation_dataset.csv
06/10/2019  21:27        17 654 914 olist_orders_dataset.csv
06/10/2019  21:27        15 438 671 olist_order_items_dataset.csv
06/10/2019  21:27         5 777 138 olist_order_payments_dataset.csv
06/10/2019  21:27        14 409 007 olist_order_reviews_dataset.csv
06/10/2019  21:27         2 379 446 olist_products_dataset.csv
28/09/2020  08:52           177 799 olist_sellers_dataset.csv
12/11/2024  14:11             2 613 product_category_name_translation.csv
               9 fichier(s)      126 147 428 octets
               2 Rép(s)  711 675 215 872 octets libres

## Changement de répertoire

In [3]:
os.chdir(r"../donnees")

# Les fichiers de données 
>> La liste des fichiers de donnée du projet

fichiers = {}
for dirname, _, filenames in os.walk('ebrasil'):
    for filename in filenames:
        fichiers[filename] = pd.read_csv(os.path.join(dirname, filename),parse_dates=True,infer_datetime_format=True)
        print(os.path.join(dirname, filename),fichiers[filename].shape)

In [4]:
donnees = pd.read_csv(os.path.join('ebrasil', 'olist_orders_dataset.csv'),parse_dates=True,infer_datetime_format=True)

# DataFrame $orders$ Commandes

In [5]:
donnees.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
donnees.dtypes

order_id                         object
customer_id                      object
order_status                     object
order_purchase_timestamp         object
order_approved_at                object
order_delivered_carrier_date     object
order_delivered_customer_date    object
order_estimated_delivery_date    object
dtype: object

## Conversions des dates

In [7]:
donnees['purchase_timestamp']= pd.to_datetime(donnees.order_purchase_timestamp, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['approved_at']=pd.to_datetime(donnees.order_approved_at, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['delivered_carrier']= pd.to_datetime(donnees.order_delivered_carrier_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['delivered_customer']= pd.to_datetime(donnees.order_delivered_customer_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['estimated_delivery']= pd.to_datetime(donnees.order_estimated_delivery_date, format='%Y-%m-%d %H:%M:%S',errors='ignore')
donnees['status']=donnees['order_status']
#errors= ignore | coerce => ne process pas la ligne || remplace par NaT (not a time)

In [8]:
donnees.drop(columns=['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date','order_status'],inplace=True)

In [9]:
donnees.dtypes

order_id                      object
customer_id                   object
purchase_timestamp    datetime64[ns]
approved_at           datetime64[ns]
delivered_carrier     datetime64[ns]
delivered_customer    datetime64[ns]
estimated_delivery    datetime64[ns]
status                        object
dtype: object

In [10]:
donnees.isna().sum()

order_id                 0
customer_id              0
purchase_timestamp       0
approved_at            160
delivered_carrier     1783
delivered_customer    2965
estimated_delivery       0
status                   0
dtype: int64

In [11]:
donnees.shape

(99441, 8)

In [12]:
donnees.order_id.nunique(),donnees.shape

(99441, (99441, 8))

In [13]:
len(donnees.status.unique()),donnees.shape

(8, (99441, 8))

In [14]:
donnees.status.unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

## Variables supplémentaires

In [15]:
donnees['annee']           = donnees.purchase_timestamp.dt.year
donnees['mois']            = donnees.purchase_timestamp.dt.month
donnees['annee_mois']      = donnees.purchase_timestamp.dt.year*100 + donnees.purchase_timestamp.dt.month
donnees['jour']            = donnees.purchase_timestamp.dt.day
donnees['annee_jour']      = donnees.purchase_timestamp.dt.year*1000 + donnees.purchase_timestamp.dt.day
donnees['jour_semaine']    = donnees.purchase_timestamp.dt.day_of_week
donnees['trimestre']       = donnees.purchase_timestamp.dt.quarter
donnees['annee_trimestre'] = donnees.purchase_timestamp.dt.year*10 + donnees.purchase_timestamp.dt.quarter
donnees['semaine']         = donnees.purchase_timestamp.dt.isocalendar().week.astype('int32')
donnees['annee_semaine']   = (donnees.purchase_timestamp.dt.year*100 + donnees.purchase_timestamp.dt.isocalendar().week).astype('int32')
donnees['heure']           = donnees.purchase_timestamp.dt.hour

# Intervalle depuis la commande
donnees['approuvee']       = (donnees.approved_at        - donnees.purchase_timestamp).dt.seconds/60/60
donnees['envoyee'  ]       = (donnees.delivered_carrier  - donnees.purchase_timestamp).dt.seconds/60/60
donnees['livree'   ]       = (donnees.delivered_customer - donnees.purchase_timestamp).dt.seconds/60/60
donnees['estimee'  ]       = (donnees.estimated_delivery - donnees.purchase_timestamp).dt.seconds/60/60

In [16]:
donnees.columns

Index(['order_id', 'customer_id', 'purchase_timestamp', 'approved_at',
       'delivered_carrier', 'delivered_customer', 'estimated_delivery',
       'status', 'annee', 'mois', 'annee_mois', 'jour', 'annee_jour',
       'jour_semaine', 'trimestre', 'annee_trimestre', 'semaine',
       'annee_semaine', 'heure', 'approuvee', 'envoyee', 'livree', 'estimee'],
      dtype='object')

In [17]:
donnees[['purchase_timestamp', 'approved_at',
       'delivered_carrier', 'delivered_customer', 'estimated_delivery',
       'status', 'annee', 'mois', 'annee_mois', 'jour', 'annee_jour',
       'jour_semaine', 'trimestre', 'annee_trimestre', 'semaine',
       'annee_semaine', 'heure']].head()

,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,annee_mois,jour,annee_jour,jour_semaine,trimestre,annee_trimestre,semaine,annee_semaine,heure
0,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,201710,2,2017002,0,4,20174,40,201740,10
1,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,201807,24,2018024,1,3,20183,30,201830,20
2,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,201808,8,2018008,2,3,20183,32,201832,8
3,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,201711,18,2017018,5,4,20174,46,201746,19
4,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,201802,13,2018013,1,1,20181,7,201807,21

In [18]:
donnees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  datetime64[ns]
 3   approved_at         99281 non-null  datetime64[ns]
 4   delivered_carrier   97658 non-null  datetime64[ns]
 5   delivered_customer  96476 non-null  datetime64[ns]
 6   estimated_delivery  99441 non-null  datetime64[ns]
 7   status              99441 non-null  object
 8   annee               99441 non-null  int32
 9   mois                99441 non-null  int32
 10  annee_mois          99441 non-null  int32
 11  jour                99441 non-null  int32
 12  annee_jour          99441 non-null  int32
 13  jour_semaine        99441 non-null  int32
 14  trimestre           99441 non-null  int32
 15  annee_trimestre     99441 non-null  int32
 16  semaine             99441 non-null  int32
 17  annee_semaine       99441 non-null  int32
 18  heure               99441 non-null  int32
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
dtypes: datetime64[ns](5), float64(4), int32(11), object(3)
memory usage: 13.3+ MB

In [19]:
donnees.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,jour_semaine,trimestre,annee_trimestre,semaine,annee_semaine,heure,approuvee,envoyee,livree,estimee
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,0,4,20174,40,201740,10,0.178333,8.974167,10.477778,13.057500
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,1,3,20183,30,201830,20,6.713889,17.823056,18.768889,3.306389
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,2,3,20183,32,201832,8,0.276111,5.186389,9.461111,15.353056
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,5,4,20174,46,201746,19,0.298056,18.198056,5.010000,4.531667
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,1,1,20181,7,201807,21,1.030556,22.465278,20.973056,2.689167

## Sauvegarde en parquet

donnees.to_csv('./ecommerce/orders.csv',index=False)

pd.read_csv('./ecommerce/orders.csv').info()

In [20]:
donnees.to_parquet('./ecommerce/orders.parquet',compression='gzip', engine='pyarrow')

In [21]:
pd.read_parquet('./ecommerce/orders.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  datetime64[ns]
 3   approved_at         99281 non-null  datetime64[ns]
 4   delivered_carrier   97658 non-null  datetime64[ns]
 5   delivered_customer  96476 non-null  datetime64[ns]
 6   estimated_delivery  99441 non-null  datetime64[ns]
 7   status              99441 non-null  object
 8   annee               99441 non-null  int32
 9   mois                99441 non-null  int32
 10  annee_mois          99441 non-null  int32
 11  jour                99441 non-null  int32
 12  annee_jour          99441 non-null  int32
 13  jour_semaine        99441 non-null  int32
 14  trimestre           99441 non-null  int32
 15  annee_trimestre     99441 non-null  int32
 16  semaine             99441 non-null  int32
 17  annee_semaine       99441 non-null  int32
 18  heure               99441 non-null  int32
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
dtypes: datetime64[ns](5), float64(4), int32(11), object(3)
memory usage: 13.3+ MB

In [22]:
!dir ecommerce

 Le volume dans le lecteur C s’appelle Windows-SSD
 Le numéro de série du volume est 84DC-AF7F

 Répertoire de C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees\ecommerce

20/11/2024  16:24    <DIR>          .
20/11/2024  15:02    <DIR>          ..
20/11/2024  15:05         4 807 544 items.parquet
21/11/2024  09:22         9 567 921 orders.parquet
20/11/2024  15:06        10 022 487 orders_payments.parquet
20/11/2024  15:06        13 281 965 orders_payments_items.parquet
20/11/2024  15:06         2 651 184 payments.parquet
20/11/2024  15:06         2 470 995 paymentsI.parquet
20/11/2024  16:24         7 549 835 reviews.parquet
20/11/2024  16:24         2 845 170 reviews_p.parquet
               8 fichier(s)       53 197 101 octets
               2 Rép(s)  710 576 136 192 octets libres