<img src="https://raw.githubusercontent.com/rbizoi/PythonFormation/main/images/e-brasil.png" width="850">

# Les imports et initialisations des variables

In [1]:
from datetime import datetime
import pandas as pd, numpy as np, os, warnings, seaborn as sns, pickle, re, unicodedata
from datetime import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm


os.chdir("C:/Users/etien/Documents/CCI/_HUB/cours/2024-2025/big_data/_git/donnees")


font1 = fm.FontProperties(size=20)
font2 = fm.FontProperties(size=24)

%matplotlib inline

if int(str(sns.__version__).split('.')[1]) > 8 : 
    plt.style.use('seaborn-v0_8-darkgrid')
else:
    plt.style.use('seaborn-darkgrid')
    
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

## Liste fichiers de données

In [2]:
!dir ..\donnees\ebrasil

 Le volume dans le lecteur C s’appelle Windows-SSD
 Le numéro de série du volume est 84DC-AF7F

 Répertoire de C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees\ebrasil

20/11/2024  16:30    <DIR>          .
20/11/2024  15:02    <DIR>          ..
06/10/2019  21:27         9 033 957 olist_customers_dataset.csv
06/10/2019  21:27        61 273 883 olist_geolocation_dataset.csv
06/10/2019  21:27        17 654 914 olist_orders_dataset.csv
06/10/2019  21:27        15 438 671 olist_order_items_dataset.csv
06/10/2019  21:27         5 777 138 olist_order_payments_dataset.csv
06/10/2019  21:27        14 409 007 olist_order_reviews_dataset.csv
06/10/2019  21:27         2 379 446 olist_products_dataset.csv
28/09/2020  08:52           177 799 olist_sellers_dataset.csv
12/11/2024  14:11             2 613 product_category_name_translation.csv
               9 fichier(s)      126 147 428 octets
               2 Rép(s)  710 575 874 048 octets libres

## Changement de répertoire

In [3]:
os.chdir(r"../donnees")

# DataFrame $items$

In [4]:
orders   = pd.read_parquet('./ecommerce/orders.parquet')
items    = pd.read_parquet('./ecommerce/items.parquet')
payments = pd.read_parquet('./ecommerce/paymentsI.parquet')

In [5]:
orders.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,jour_semaine,trimestre,annee_trimestre,semaine,annee_semaine,heure,approuvee,envoyee,livree,estimee
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,0,4,20174,40,201740,10,0.178333,8.974167,10.477778,13.057500
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,1,3,20183,30,201830,20,6.713889,17.823056,18.768889,3.306389
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,2,3,20183,32,201832,8,0.276111,5.186389,9.461111,15.353056
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,5,4,20174,46,201746,19,0.298056,18.198056,5.010000,4.531667
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,1,1,20181,7,201807,21,1.030556,22.465278,20.973056,2.689167

In [6]:
items.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value,shipping_limit,limit
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,2017-09-19 09:45:35,0.775833
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,2017-05-03 11:05:13,0.201944
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,2018-01-18 14:48:30,0.249722
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,2018-08-15 10:10:18,0.161944
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,2017-02-13 13:57:51,0.000000

In [7]:
payments.head()

,order_id,sequential,type,installments,value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [8]:
paymentsT = payments.pivot_table(index='order_id',columns='type',values=['installments','value'],fill_value=0).reset_index()

In [9]:
paymentsT.columns = [col[0].replace('installments','int')+'_'+col[1] if len(col[1]) > 0 else col[0] for col in paymentsT.columns]

In [10]:
paymentsT.head()

,order_id,int_boleto,int_credit_card,int_debit_card,int_not_defined,int_voucher,value_boleto,value_credit_card,value_debit_card,value_not_defined,value_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0.0,2.0,0.0,0.0,0.0,0.0,72.19,0.0,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0.0,3.0,0.0,0.0,0.0,0.0,259.83,0.0,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0.0,5.0,0.0,0.0,0.0,0.0,216.87,0.0,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0.0,2.0,0.0,0.0,0.0,0.0,25.78,0.0,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0.0,3.0,0.0,0.0,0.0,0.0,218.04,0.0,0.0,0.0

In [11]:
orders.order_id.nunique(),orders.shape

(99441, (99441, 23))

In [12]:
items.order_id.nunique(),\
items.shape[0], \
items.order_id.nunique() - orders.shape[0],\
items.shape[0] + orders.shape[0] - items.order_id.nunique()

(98666, 112650, -775, 113425)

In [13]:
payments.order_id.nunique(),payments.shape

(99440, (103886, 5))

In [14]:
paymentsT.order_id.nunique(),paymentsT.shape

(99440, (99440, 11))

In [15]:
orders_payments = orders.merge(paymentsT,on='order_id',how='left')
orders_payments.to_parquet('./ecommerce/orders_payments.parquet',compression='gzip', engine='pyarrow')

In [16]:
orders_payments_items = orders_payments.merge(items,on='order_id',how='left')
orders_payments_items.to_parquet('./ecommerce/orders_payments_items.parquet',compression='gzip', engine='pyarrow')

In [17]:
orders_payments_items.order_id.nunique(),orders_payments_items.shape

(99441, (113425, 40))

In [18]:
!dir ecommerce

 Le volume dans le lecteur C s’appelle Windows-SSD
 Le numéro de série du volume est 84DC-AF7F

 Répertoire de C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees\ecommerce

20/11/2024  16:24    <DIR>          .
20/11/2024  15:02    <DIR>          ..
21/11/2024  09:22         4 807 544 items.parquet
21/11/2024  09:22         9 567 921 orders.parquet
21/11/2024  09:23        10 022 487 orders_payments.parquet
21/11/2024  09:23        13 281 965 orders_payments_items.parquet
21/11/2024  09:22         2 651 184 payments.parquet
21/11/2024  09:22         2 470 995 paymentsI.parquet
20/11/2024  16:24         7 549 835 reviews.parquet
20/11/2024  16:24         2 845 170 reviews_p.parquet
               8 fichier(s)       53 197 101 octets
               2 Rép(s)  709 471 576 064 octets libres