# Reconstitué un Dataframe à partir d'un métier et toutes ses différentes dimenssion 

- Donner les Dimensions & métrics

- Donner les hérarchies des dimensions

## Schéma de la BDD 

<img src="https://raw.githubusercontent.com/rbizoi/PythonFormation/main/images/e-brasil.png" width="850">

## Importation

In [1]:
import os 
import pandas as pd

In [2]:
### Changement de répertoire courant

In [3]:
os.chdir("C:/Users/etien/Documents/CCI/_HUB/cours/2024-2025/big_data/_git/donnees")

## Métier de la vente

### Récupération des fichiers parquet

In [4]:
orders = pd.read_parquet('./ecommerce/orders.parquet')

In [5]:
geoloc  = pd.read_parquet('./ecommerce/geolocation.parquet')

In [6]:
customers = pd.read_parquet('./ecommerce/customers.parquet')

In [7]:
orders_payments = pd.read_parquet('./ecommerce/orders_payments.parquet')

In [8]:
reviews = pd.read_parquet('./ecommerce/reviews.parquet')

Faire un merge ?  

faire une jointure externe lorsque le nomdre de ligne ne correspond pas pour :

- ne pas effacer les lignes manquante
- ne pas remplir inutilement les ligne supplémentaire

Il faut toujours s'assurer qu'on est pas entrain de perdre des lignes

## table Order

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  datetime64[ns]
 3   approved_at         99281 non-null  datetime64[ns]
 4   delivered_carrier   97658 non-null  datetime64[ns]
 5   delivered_customer  96476 non-null  datetime64[ns]
 6   estimated_delivery  99441 non-null  datetime64[ns]
 7   status              99441 non-null  object
 8   annee               99441 non-null  int32
 9   mois                99441 non-null  int32
 10  annee_mois          99441 non-null  int32
 11  jour                99441 non-null  int32
 12  annee_jour          99441 non-null  int32
 13  jour_semaine        99441 non-null  int32
 14  trimestre           99441 non-null  int32
 15  annee_trimestre     99441 non-null  int32
 16  semaine             99441 non-null  int32
 17  annee_semaine       99441 non-null  int32
 18  heure               99441 non-null  int32
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
dtypes: datetime64[ns](5), float64(4), int32(11), object(3)
memory usage: 13.3+ MB

### List des Dimensions 

- order_status
- order_purchase_timestamp
- order_approved_at
- order_delivered_carrier_date
- order_delivered_customer_date
- order_estimated_delivery_date

### List Metrics

## Table geoloc

In [10]:
geoloc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19015 entries, 0 to 19014
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip_code  19015 non-null  int32
 1   city      19015 non-null  object
 2   state     19015 non-null  object
 3   lat_min   19015 non-null  float64
 4   lat_max   19015 non-null  float64
 5   lat       19015 non-null  float64
 6   lng_min   19015 non-null  float64
 7   lng_max   19015 non-null  float64
 8   lng       19015 non-null  float64
dtypes: float64(6), int32(1), object(2)
memory usage: 1.2+ MB

### List des Dimensions 

- geolocation_city
- geolocation_state

### List Metrics 

- geolocation_zip_code_prefix
- geolocation_lat
- geolocation_lng

## Table Customers

In [11]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         99441 non-null  object
 1   customer_unique_id  99441 non-null  object
 2   zip_code            99441 non-null  int32
 3   city                99441 non-null  object
 4   state               99441 non-null  object
 5   name_state          99441 non-null  object
dtypes: int32(1), object(5)
memory usage: 4.2+ MB

### List des Dimensions 

- customer_city
- customer_state

### List Metrics 

- customer_zip_code_prefix

## Table Order Payments

In [12]:
orders_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            99441 non-null  object
 1   customer_id         99441 non-null  object
 2   purchase_timestamp  99441 non-null  datetime64[ns]
 3   approved_at         99281 non-null  datetime64[ns]
 4   delivered_carrier   97658 non-null  datetime64[ns]
 5   delivered_customer  96476 non-null  datetime64[ns]
 6   estimated_delivery  99441 non-null  datetime64[ns]
 7   status              99441 non-null  object
 8   annee               99441 non-null  int32
 9   mois                99441 non-null  int32
 10  annee_mois          99441 non-null  int32
 11  jour                99441 non-null  int32
 12  annee_jour          99441 non-null  int32
 13  jour_semaine        99441 non-null  int32
 14  trimestre           99441 non-null  int32
 15  annee_trimestre     99441 non-null  int32
 16  semaine             99441 non-null  int32
 17  annee_semaine       99441 non-null  int32
 18  heure               99441 non-null  int32
 19  approuvee           99281 non-null  float64
 20  envoyee             97658 non-null  float64
 21  livree              96476 non-null  float64
 22  estimee             99441 non-null  float64
 23  int_boleto          99440 non-null  float64
 24  int_credit_card     99440 non-null  float64
 25  int_debit_card      99440 non-null  float64
 26  int_not_defined     99440 non-null  float64
 27  int_voucher         99440 non-null  float64
 28  value_boleto        99440 non-null  float64
 29  value_credit_card   99440 non-null  float64
 30  value_debit_card    99440 non-null  float64
 31  value_not_defined   99440 non-null  float64
 32  value_voucher       99440 non-null  float64
dtypes: datetime64[ns](5), float64(14), int32(11), object(3)
memory usage: 20.9+ MB

### List des Dimensions 

- payment_type

### List Metrics 

- payment_sequential
- payment_installments
- payment_value

## Table reviews

In [13]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_id           100000 non-null  object
 1   order_id            100000 non-null  object
 2   score               100000 non-null  int16
 3   comment_title       11715 non-null   object
 4   comment_message     41753 non-null   object
 5   creation_date       100000 non-null  datetime64[ns]
 6   answer_timestamp    100000 non-null  datetime64[ns]
 7   purchase_timestamp  100000 non-null  datetime64[ns]
 8   creation            100000 non-null  int32
 9   answer              100000 non-null  int32
 10  comment             100000 non-null  int16
dtypes: datetime64[ns](3), int16(2), int32(2), object(4)
memory usage: 6.5+ MB

### List des Dimensions 

- review_creation_date
- review_answer_timestamp

### List Metrics 

- review_score

## Métier de l'achat

### Récupération des fichiers parquet & CSV

In [14]:
sellers = pd.read_parquet('./ecommerce/sellers.parquet')

In [15]:
products = pd.read_parquet('./ecommerce/products.parquet')

## Table sellers

In [16]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   seller_id   3095 non-null   object
 1   zip_code    3095 non-null   int32
 2   city        3095 non-null   object
 3   state       3095 non-null   object
 4   name_state  3095 non-null   object
dtypes: int32(1), object(4)
memory usage: 108.9+ KB

### List des Dimensions 

- seller_city
- seller_state


### List Metrics 

- seller_zip_code_prefix

## Table Product

In [17]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          32951 non-null  object
 1   name_lenght         32341 non-null  float64
 2   description_lenght  32341 non-null  float64
 3   photos_qty          32341 non-null  float64
 4   weight_g            32949 non-null  float64
 5   length_cm           32949 non-null  float64
 6   height_cm           32949 non-null  float64
 7   width_cm            32949 non-null  float64
 8   category_name       32951 non-null  object
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

### List des Dimensions 

- product_category_name


### List Metrics 

- product_name_lenght
- product_description_lenght
- product_photos_qty
- product_weight_g
- product_length_cm
- product_height_cm

## Hérarchie des Dimensions

Localisation => geolocation_state => geolocation_city

Product => product_category_name

Payment => payment_type

Review => review_creation_date

       => review_answer_timestamp

### Notes

Je présente mes données par (Dimension) : 
    - Je veux représenter mon prix par pays 
    - je veux représenter les review d'un produit par leurs date de création

Dès que tu as du text imprévisible ce n\'est jamais une dimension