In [1]:
import pandas as pd
import os
!dir C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees\ebrasil

 Le volume dans le lecteur C s’appelle Windows-SSD
 Le numéro de série du volume est 84DC-AF7F

 Répertoire de C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees\ebrasil

20/11/2024  11:40    <DIR>          .
20/11/2024  15:02    <DIR>          ..
06/10/2019  21:27         9 033 957 olist_customers_dataset.csv
06/10/2019  21:27        61 273 883 olist_geolocation_dataset.csv
06/10/2019  21:27        17 654 914 olist_orders_dataset.csv
06/10/2019  21:27        15 438 671 olist_order_items_dataset.csv
06/10/2019  21:27         5 777 138 olist_order_payments_dataset.csv
06/10/2019  21:27        14 409 007 olist_order_reviews_dataset.csv
06/10/2019  21:27         2 379 446 olist_products_dataset.csv
28/09/2020  08:52           177 799 olist_sellers_dataset.csv
               8 fichier(s)      126 144 815 octets
               2 Rép(s)  713 981 714 432 octets libres

## Lecture des fichiers sur le dique

In [2]:


olist_orders = pd.read_csv('../../_git/donnees/ebrasil/olist_orders_dataset.csv',
                           sep=',',
                          # usecols=['numer_sta','date','dd','ff','t','u','vv',
                          #         'pres','rr1','rr3','rr6','rr12','rr24'],
                           na_values='mq',
                           dtype={},
                          )

olist_orders.order_purchase_timestamp = pd.to_datetime(olist_orders.order_purchase_timestamp)
olist_orders.order_approved_at = pd.to_datetime(olist_orders.order_approved_at)
olist_orders.order_delivered_carrier_date = pd.to_datetime(olist_orders.order_delivered_carrier_date)
olist_orders.order_delivered_customer_date = pd.to_datetime(olist_orders.order_delivered_customer_date)
olist_orders.order_estimated_delivery_date   = pd.to_datetime(olist_orders.order_estimated_delivery_date )

olist_items = pd.read_csv('../../_git/donnees/ebrasil/olist_order_items_dataset.csv',
                           sep=',',
                          # usecols=['numer_sta','date','dd','ff','t','u','vv',
                          #         'pres','rr1','rr3','rr6','rr12','rr24'],
                           na_values='mq',
                           dtype={'numer_sta':str,'date':str},
                          )

olist_items.shipping_limit_date    = pd.to_datetime(olist_items.shipping_limit_date )
 
olist_payments = pd.read_csv('../../_git/donnees/ebrasil/olist_order_payments_dataset.csv',
                           sep=',',
                          # usecols=['numer_sta','date','dd','ff','t','u','vv',
                          #         'pres','rr1','rr3','rr6','rr12','rr24'],
                           na_values='mq',
                           dtype={'numer_sta':str,'date':str},
                          )

## Liste des commandes + items commandé

In [3]:
commandes = olist_orders.merge(olist_items, on="order_id")
commandes.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

## DataFrame - to parquet

In [4]:
olist_orders.to_parquet('../../_git/donnees/TP/ebrasil/orders.gzip',compression='gzip', engine='pyarrow')
olist_items.to_parquet('../../_git/donnees/TP/ebrasil/items.gzip',compression='gzip', engine='pyarrow')
olist_payments.to_parquet('../../_git/donnees/TP/ebrasil/payments.gzip',compression='gzip', engine='pyarrow')

In [23]:
# Sanatize 
# pivot_table => permet pour tout les payement d'avoir une seul ligne alors qu'il y a plus de payement que de commandes
# transforme plusieurs ligne en plusieur colonne

payments = olist_payments.pivot_table(index='order_id', columns='payment_type', values='payment_value', fill_value=0).reset_index()
donnees = commandes.merge(payments, on="order_id")
donnees.head()

payment_type,order_id,boleto,credit_card,debit_card,not_defined,voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0.00,72.19,0.0,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0.00,259.83,0.0,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0.00,216.87,0.0,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0.00,25.78,0.0,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0.00,218.04,0.0,0.0,0.0
...,...,...,...,...,...,...
99435,fffc94f6ce00a00581880bf54a75a037,343.40,0.00,0.0,0.0,0.0
99436,fffcd46ef2263f404302a634eb57f7eb,386.53,0.00,0.0,0.0,0.0
99437,fffce4705a9662cd70adb13d4a31832d,0.00,116.85,0.0,0.0,0.0
99438,fffe18544ffabc95dfada21779c9644f,0.00,64.71,0.0,0.0,0.0
99439,fffe41c64501cc87c801fd61db3f6244,0.00,55.79,0.0,0.0,0.0

## All table joined to parquet

In [6]:
donnees.to_parquet('../../_git/donnees/TP/ebrasil/donnees_all',compression='gzip', engine='pyarrow')

## Analyse des résultats

In [7]:
#olist_orders.order_id.nunique(), \
#olist_items.shape[0], \
#0olist_orders.shape[0] - 

#olist_payments

In [8]:
## Récupération du fichier

In [9]:
os.chdir("C:/Users/etien/Documents/CCI/_HUB/cours/2024-2025/big_data/_git/donnees")
donnees = pd.read_parquet('./ecommerce/orders_payments_items.parquet')

In [10]:
donnees.head()

,order_id,customer_id,purchase_timestamp,approved_at,delivered_carrier,delivered_customer,estimated_delivery,status,annee,mois,...,value_debit_card,value_not_defined,value_voucher,order_item_id,product_id,seller_id,price,freight_value,shipping_limit,limit
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,delivered,2017,10,...,0.0,0.0,10.295,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72,2017-10-06 11:07:15,0.178333
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,delivered,2018,7,...,0.0,0.0,0.000,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76,2018-07-30 03:24:27,6.713889
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,delivered,2018,8,...,0.0,0.0,0.000,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22,2018-08-13 08:55:23,0.276111
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,delivered,2017,11,...,0.0,0.0,0.000,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,45.00,27.20,2017-11-23 19:45:59,0.298056
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,delivered,2018,2,...,0.0,0.0,0.000,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,19.90,8.72,2018-02-19 20:31:37,23.216111

In [14]:
!dir
reviews = pd.read_csv('ebrasil/olist_order_reviews_dataset.csv',parse_dates=True, infer_datetime_format=True)
reviews.head()

 Le volume dans le lecteur C s’appelle Windows-SSD
 Le numéro de série du volume est 84DC-AF7F

 Répertoire de C:\Users\etien\Documents\CCI\_HUB\cours\2024-2025\big_data\_git\donnees

20/11/2024  15:02    <DIR>          .
12/11/2024  14:11    <DIR>          ..
12/11/2024  14:11           240 949 abalone.csv
12/11/2024  14:11         1 181 439 agents.json
12/11/2024  14:11           785 065 AirQualityUCI01.csv
12/11/2024  14:11             1 264 AirQualityUCI01.test.csv
12/11/2024  14:11           785 065 AirQualityUCI02.csv
12/11/2024  14:11             1 261 AirQualityUCI02.test.csv
12/11/2024  14:11           785 065 AirQualityUCI03.csv
12/11/2024  14:11            49 588 boston.housing.data.txt
12/11/2024  14:11           129 652 breastCancer.csv
12/11/2024  14:11         1 444 170 California Housing Price.csv
12/11/2024  14:11            23 873 diabetes.csv
18/11/2024  16:27         6 765 827 donnees_meteo.gzip
20/11/2024  11:40    <DIR>          ebrasil
20/11/2024  11:37    <DIR>          ebrasil.zip
20/11/2024  15:06    <DIR>          ecommerce
12/11/2024  14:11         6 315 148 export_sql.csv
12/11/2024  14:11           941 079 export_sql.parquet
12/11/2024  14:11           195 955 framingham.csv
12/11/2024  14:11            11 680 glass.csv
12/11/2024  14:11           462 137 House Prices.csv
12/11/2024  14:11         1 444 170 housing.csv
12/11/2024  14:11            23 931 indian_liver_patient.csv
12/11/2024  14:11         6 999 409 indicateurs_ventes.csv
12/11/2024  14:11         6 999 409 indicateurs_ventes.dsv
12/11/2024  14:11           691 794 indicateurs_ventes.parquet
12/11/2024  14:11            34 545 Infarct.xlsx
12/11/2024  14:11             5 258 Iris.csv
12/11/2024  14:11             1 388 loups-g.txt
12/11/2024  14:11    <DIR>          meteo
18/11/2024  16:02       108 788 876 meteo.csv
18/11/2024  16:02         6 746 221 meteo.gzip
12/11/2024  14:11           355 250 meteoH.gzip
12/11/2024  14:11         2 429 301 meteoJ.gzip
12/11/2024  14:11            84 632 meteoM.gzip
12/11/2024  14:11           382 127 mushrooms.csv
12/11/2024  14:11             6 961 ozone.csv
12/11/2024  14:11    <DIR>          pandas
12/11/2024  14:11             2 681 postesSynop.csv
12/11/2024  14:11               514 README.md
18/11/2024  10:36           940 295 sauvegarde_AirQualityUCI01.csv
12/11/2024  14:11         4 069 470 synop.202309.csv
12/11/2024  14:11               331 synop.202309.test.csv
12/11/2024  14:11         4 122 415 synop.202310.csv
12/11/2024  14:11            17 811 temperatures.gzip
20/11/2024  14:32    <DIR>          TP
12/11/2024  14:11               402 wget_meteo.sh
12/11/2024  14:11         3 490 968 wmo_306-v1_1-2012_fr.pdf
              41 fichier(s)      167 757 376 octets
               8 Rép(s)  713 983 311 872 octets libres

C:\Users\etien\AppData\Local\Temp\ipykernel_199536\170973708.py:2: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  reviews = pd.read_csv('ebrasil/olist_order_reviews_dataset.csv',parse_dates=True, infer_datetime_format=True)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [21]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [22]:
donnees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 40 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   order_id            113425 non-null  object
 1   customer_id         113425 non-null  object
 2   purchase_timestamp  113425 non-null  datetime64[ns]
 3   approved_at         113264 non-null  datetime64[ns]
 4   delivered_carrier   111457 non-null  datetime64[ns]
 5   delivered_customer  110196 non-null  datetime64[ns]
 6   estimated_delivery  113425 non-null  datetime64[ns]
 7   status              113425 non-null  object
 8   annee               113425 non-null  int32
 9   mois                113425 non-null  int32
 10  annee_mois          113425 non-null  int32
 11  jour                113425 non-null  int32
 12  annee_jour          113425 non-null  int32
 13  jour_semaine        113425 non-null  int32
 14  trimestre           113425 non-null  int32
 15  annee_trimestre     113425 non-null  int32
 16  semaine             113425 non-null  int32
 17  annee_semaine       113425 non-null  int32
 18  heure               113425 non-null  int32
 19  approuvee           113264 non-null  float64
 20  envoyee             111457 non-null  float64
 21  livree              110196 non-null  float64
 22  estimee             113425 non-null  float64
 23  int_boleto          113422 non-null  float64
 24  int_credit_card     113422 non-null  float64
 25  int_debit_card      113422 non-null  float64
 26  int_not_defined     113422 non-null  float64
 27  int_voucher         113422 non-null  float64
 28  value_boleto        113422 non-null  float64
 29  value_credit_card   113422 non-null  float64
 30  value_debit_card    113422 non-null  float64
 31  value_not_defined   113422 non-null  float64
 32  value_voucher       113422 non-null  float64
 33  order_item_id       112650 non-null  float64
 34  product_id          112650 non-null  object
 35  seller_id           112650 non-null  object
 36  price               112650 non-null  float64
 37  freight_value       112650 non-null  float64
 38  shipping_limit      112650 non-null  datetime64[ns]
 39  limit               112650 non-null  float64
dtypes: datetime64[ns](6), float64(18), int32(11), object(5)
memory usage: 29.9+ MB