In [53]:
import pandas as pd

data = pd.read_csv('../../_git/donnees/meteo/2023/synop.202309.csv', sep=';', dtype={'date':'str'}, na_values='mq')
data = data.rename(columns={
    'numer_sta': 'Station', 
    'date': 'DateHeure', 
    'dd' : 'DirectionVent', 
    'ff' : 'VitesseVent', 
    't': 'Temperature', 
    'u' : 'Humidite', 
    'vv' : 'Visibilite', 
    'pres' : 'Pression', 
    'rr1' : 'Precipitation01',
    'rr3' : 'Precipitation03',
    'rr6' : 'Precipitation06',
    'rr12' : 'Precipitation12',
    'rr24': 'Precipitation24',
})
#data.info()
data.drop(columns=['Unnamed: 59'],inplace=True)
data.replace('mq', 'NaN', inplace=True)

data.set_index('Station')
data['DateHeure'] = pd.to_datetime(data["DateHeure"], format="mixed")

data['Temperature'] = data['Temperature'] - 273.15

data['Mois']      = data.DateHeure.dt.month
data['Annee']     = data.DateHeure.dt.year
data['AnneeMois'] = data.DateHeure.dt.year*100 + data.DateHeure.dt.month
data['Semaine']   = data.DateHeure.dt.isocalendar().week
data['MoisJour']  = data.DateHeure.dt.month*100 + data.DateHeure.dt.day
data['JourA']     = data.dt.dayofyear

#data.reset_index(inplace=True)
data.tail()

,Station,DateHeure,pmer,tend,cod_tend,DirectionVent,VitesseVent,Temperature,td,Humidite,...,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4
14589,78925,2023-09-30 21:00:00,100810.0,-30.0,6.0,60.0,2.4,30.3,299.15,78.0,...,840.0,5.0,NaN,1560.0,6.0,NaN,1980.0,NaN,9.0,NaN
14590,81401,2023-09-30 21:00:00,100780.0,10.0,5.0,60.0,1.8,31.1,296.85,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14591,81405,2023-09-30 21:00:00,100880.0,0.0,5.0,100.0,3.7,30.1,297.85,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14592,81408,2023-09-30 21:00:00,100840.0,0.0,5.0,90.0,3.6,32.0,295.55,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14593,89642,2023-09-30 21:00:00,98690.0,100.0,3.0,140.0,13.9,-21.3,244.75,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
data.loc[data.Station == '78925']

Empty DataFrame
Columns: [Station, DateHeure, pmer, tend, cod_tend, DirectionVent, VitesseVent, Temperature, td, Humidite, Visibilite, ww, w1, w2, n, nbas, hbas, cl, cm, ch, Pression, niv_bar, geop, tend24, tn12, tn24, tx12, tx24, tminsol, sw, tw, raf10, rafper, per, etat_sol, ht_neige, ssfrai, perssfrai, Precipitation01, Precipitation03, Precipitation06, Precipitation12, Precipitation24, phenspe1, phenspe2, phenspe3, phenspe4, nnuage1, ctype1, hnuage1, nnuage2, ctype2, hnuage2, nnuage3, ctype3, hnuage3, nnuage4, ctype4, hnuage4]
Index: []

[0 rows x 59 columns]

In [74]:
data.groupby('jourA').agg('mean')

KeyError: 'jourA'